@using Microsoft.JSInterop
@inject IJSRuntime JS

<EditForm Model="@colorForm" OnValidSubmit="@submitColor">

  <DataAnnotationsValidator />

  <ValidationSummary />

  <label>
    Name:
    <InputText id="colorFormName" @bind-Value="colorForm.Name" />
  </label>

  <label>
    Hexcode:
    <input type="text" @bind="@colorForm.HexCode" />
    <ValidationMessage For="@(() => colorForm.HexCode)" />
  </label>

  <button>@ButtonText</button>

</EditForm>

@code {

  private ColorFormModel colorForm = new();

  [Parameter]
  public string ButtonText { get; set; } = "Submit Color";

  [Parameter]
  public EventCallback<NewColor> OnSubmitColor { get; set; }

  // if you put JavaScript code in the initialized life cycle function it will break
  // on pre-render
  // protected override async Task OnInitializedAsync()
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await JS.InvokeVoidAsync("app.setFocus", "#colorFormName");
    }
  }

  private async Task submitColor() {
    await OnSubmitColor.InvokeAsync(new NewColor
      {
        Name = colorForm.Name,
        HexCode = colorForm.HexCode,
      });

    colorForm = new();
  }

  class ColorFormModel
  {
    [Required]
    [MinLength(3)]
    public string Name { get; set; }

    [Required]
    // [RegularExpression(@"^[0-9a-fA-F]{6}$", ErrorMessage = "HexCode is RRGGBB")]
    [HexColorValidator(6)]
    public string HexCode { get; set; }
  }
}
