<EditForm Model="@colorForm" OnValidSubmit="@submitColor">

  <DataAnnotationsValidator />

  <ValidationSummary />

  <label>
    Name:
    <InputText @bind-Value="colorForm.Name" />
  </label>

  <label>
    Hexcode:
    <input type="text" @bind="@colorForm.HexCode" />
    <ValidationMessage For="@(() => colorForm.HexCode)" />
  </label>

  <button>@ButtonText</button>

</EditForm>

@code {

  private ColorFormModel colorForm = new();

  [Parameter]
  public string ButtonText { get; set; } = "Submit Color";

  [Parameter]
  public EventCallback<NewColor> OnSubmitColor { get; set; }

  private async Task submitColor() {
    await OnSubmitColor.InvokeAsync(new NewColor
      {
        Name = colorForm.Name,
        HexCode = colorForm.HexCode,
      });

    colorForm = new();
  }

  class ColorFormModel
  {
    [Required]
    [MinLength(3)]
    public string Name { get; set; }

    [Required]
    // [RegularExpression(@"^[0-9a-fA-F]{6}$", ErrorMessage = "HexCode is RRGGBB")]
    [HexColorValidator(6)]
    public string HexCode { get; set; }
  }
}
